@(form: Form[FormCoupon])(implicit request: RequestHeader, messages: Messages)

@generateImageInput(id: String) = {
  <dl>
    <dt><label for="@{id}_file">@id</label></dt>
    <dd><input type="file" id="@{id}_file" name="@{id}_file" class="form-control-file" accept="image/gif,image/jpeg,image/png" onchange="attachImage(this, '@id', '@{id}_preview')"></dd>
  </dl>
  <input type="hidden" name="@id" id="@id" value="@form(id).value">
  <div>
    <img id="@{id}_preview" src="@form(id).value">
  </div>
}

@helper.CSRF.formField
@helper.inputText(form("title"), 'class -> "form-control")
@helper.textarea(form("description"), 'class -> "form-control")
@generateImageInput("image")
@generateImageInput("qr_code_image")
