@(coupons: Seq[Coupon], page: Int, lastPage: Int)

@main {
  <nav>
    <ul class="pagination justify-content-center">
      @if(page > 1) {
        <li class="page-item">
          <a class="page-link" href="@routes.HomeController.index(page - 1).url">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
      } else {
        <li class="page-item disabled">
          <span class="page-link" aria-hidden="true">&laquo;</span>
        </li>
      }
      @if(page < lastPage) {
        <li class="page-item">
          <a class="page-link" href="@routes.HomeController.index(page + 1).url">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      } else {
        <li class="page-item disabled">
          <span class="page-link" aria-hidden="true">&raquo;</span>
        </li>
      }
    </ul>
  </nav>
  <table class="table">
    <tr>
      <th>id</th>
      <th>title</th>
      <th>description</th>
      <th>image</th>
      <th>qr_code_image</th>
    </tr>
  @for(coupon <- coupons) {
    <tr>
      <td>@coupon.id</td>
      <td>@coupon.title</td>
      <td>@coupon.description</td>
      <td><img src="@coupon.image_url" style="max-height: 120px; max-width: 120px"></td>
      <td><img src="@coupon.qr_code_image_url" style="max-height: 120px; max-width: 120px"></td>
    </tr>
  }
  </table>
}